# 미션

###  1. 아래에 선언된 문자형 변수를 추출하여, 이름, 일자, 과목 순으로 구성된 딕셔너리 형태로 출력하시오.
{'과목':'Python','성함':'홍길동','일자':'20240701'}

In [1]:
dict1 = {'과목':'Python','성함':'홍길동','일자':'20240701'}

key = dict1.keys() # key
val = dict1.values() # values

dict(zip(key, val)) # zip으로 합쳐서 하나의 딕셔너리로 만들기

{'과목': 'Python', '성함': '홍길동', '일자': '20240701'}

### 2. 키와 몸무게를 입력받아 BMI 수치를 계산하는 프로그램을 제작하고,
### 새로운 값을 입력할 때마다, result_list에 결과를 추가하시오.

#### 조건 : 새로운 값을 입력 할 때 마다 기존의 데이터가 삭제되지 않고 추가되어야 합니다.

In [20]:
result_list = [ ] # 비어있는 리스트 생성

while True:
    high = int(input(f'키 cm ,(종료 : 0)'))
    m_high = high/100 # BMI는 m 기준이므로 미터로 변환
    weight = int(input('몸무게(kg),(종료 : 0)')) # 몸무게
    if high == 0 & weight == 0:
        break
    BMI = weight / (m_high**2) # BMI 계산
    result_list.append(BMI)
    print(result_list)

키 cm ,(종료 : 0)0
몸무게(kg),(종료 : 0)0

### 답안

In [6]:
bmi_list = []
bmi_list

[]

In [9]:
h = float(input('키를 입력하시오. 단위(m)'))
w = int(input('몸무게를 입력하시오'))
bmi = w / h **2
bmi_list.append(bmi)

키를 입력하시오. 단위(m)200
몸무게를 입력하시오90

In [10]:
bmi_list

[27.777777777777775, 0.00225]

### 3. 아래의 리스트를 문자열로 변환하시오.

#### ["Music","Is","MY","Life"] -> Music is my life

In [ ]:
list3 = ["Music","is","my","life"]
text = ' '.join(list3)
print(text)

### 4. 아래 선언된 튜플에 80 이라는 값을 추가하여 출력하시오.
t1 = (13,234,53,22,35)

In [ ]:
t1 = (13,234,53,22,35)
t1 = list(t1)
t1.append(80)
t1 = tuple(t1)
t1

### 5.아래의 리스트에서 A 문자를 C 문자로 바꾸어 출력하시오.

list1 = ["A", 123, "B", "D", "F"]

In [ ]:
list1 = ['A',123,'B','D','F']
list1[0] = 'C'
list1

### 6. 아래 두 개의 리스트에서 중복된 값을 제거하여 출력하시오.

list1 = [1,2,3,4,5,6,7,8,9]

list2 = [2,4,6,7,8,9]

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = [2,4,6,7,8,9]

set1=set(list1)
set2=set(list2)

set3=set1&set2
set4=set1|set2
list3 = list(set4 - set3)
list3