# 데이터 분석과 개념 확립

## 데이터 분석 트렌드 변화
- 데이터 : 여러 정보의 집합
- 데이터 분석 : 설득하는 일

1. 전통 통계 : 
    - 초기 현장에서는 통계를 활용해 데이터를 분석하고 처리
    - 통계 : 모집단(파악하고자 하는 바) -> 표본(처리가능한 데이터)을 추출하여, 분석한 통계량을 바탕으로 모집단 추정 과정
    - 데이터 수집의 한계 -> 적은 데이터를 가지고 예측

2. 데이터 마이닝 :
    - 통계학과 컴퓨터 기술발전의 결합
    - 기존에 다루던 사이즈보다 더 큰 규모의 데이터 다루기 가능
    - 모집단의 개념 없이, 전체 데이터를 컴퓨터가 학습 및 처리 -> 기존에 없던 새로운 규칙이나 수식을 도출하는 형태로 분석
    - 기존 통계학과 달리 확보된 데이터가 모집단을 의미함
    - 1990s 식스-시그마 기업에 등장 및 사용
    
3. 빅데이터
    - IT 기술 발전으로 기존에 다루던 데이터보다 더 큰 데이터를 다룰 수 있게 됨
    - 두 가지 관점의 변화
        1. 데이터 사이즈 : 병렬 컴퓨팅 가능
            - 1대  -> 여러 대로 연산 가능(MPI / Map Reduce)
        2. 데이터 구조 : 기존 정형데이터(Excel, RDB, CSV, SQL) -> 비정형 데이터 (이미지, 소리, 영상, 자연어)와 같은 데이터 처리 분석 기술 등장
     - IT 기술 뿐 아니라 통계적인 개념과 실무에서 어떻게 데이터를 분석하는지에 대한 전체적인 흐름을 읽을 수 있어야 함

## 데이터 분석 절차
 1. 기술적 데이터 분석 (Descriptive Data Analysis)
     - 데이터를 가져와서 데이터의 기본적인 정보 파악
     - 데이터 구조와 타입 확인
     - 목표변수와 설명변수를 설정
         - 목표변수(Y, Output, Label, Target) : 문제해결에 있어 핵심이 되는 data
         - 설명변수(X, Input, Feature)
     - 기술통계량 확인 : 평균  / 분위 / 중위수 / 빈도수 ..
     
 2. 탐색적 데이터 분석 (Exploratory Data Analysis)
     - 앞서 확인한 목표변수와 설명변수 간 관계를 파악
     - 데이터 시각화(주관적)
     
 3. 확증적 데이터 분석 (Confirmatory Data Analysis)
     - 데이터 간 연관성, 상관성, 유사성 등을 가설로 수립하여 객관적 수치로 검증
     - 검정을 통해 비즈니스 인사이트 도출 (해석)
  
 4. 예측적 데이터 분석 (Predictive Data Analysis)
     - 목표변수와 설명변수 간의 관계를 수식화(모델링), 새로 등장할 데이터에 대해 예측하거나 대응
     - 회귀분석 / 머신러닝
     - 최적화 / 시스템화

#  Juypter Notebook 사용법

- cell : 코드나 마크다운을 작성하는 상자
- markdown mode : 마크다운이란 마크업 언어의 일종

- 단축키 ESC + 
    - [a] : above - 현재 위치한 셀 상단에 셀 추가
    - [b] : below - 현재 위치한 셀 하단에 셀 추가
    - [x ] : 잘라내기
    - [DD] : 삭제
    - [z] : 실행취소 -> 셀에서 실행 취소 Ctrl + z / 노트북 전체의 실행 취소 ESC + z
    - [m] : markdown으로 변경
    - [y] : code로 변경

- Shift  + Enter : 셀 실행
- Alt + Enter : 하단에 셀 하나 추가하면서 현재 셀 실행
- Ctrl + S  : 저장
- Ctrl + / : 줄 전체 주석 ( = # )

# 헤더 1 : 제일 큰 헤더
## 헤더 2 : 두번째로 큰 헤더
###### : # 갯수가 많아질수록 더 작아짐

 ** 굵은 글씨로 표현**
 
 ex) #**굵은 헤더**

# 파이썬 기초 문법
## 변수의 개념 
 - 데이터를 들고 다니는 공간
 - 변수 선언 : 등호 왼쪽에 변수 이름, 오른쪽에 데이터 입력

## 데이터 타입

- 숫자형 / 문자형 / 논리형

- 숫자형 : int 정수형 / float 소수점까지
- 문자형 : str
- 논리형 : True / False

- 파이썬은 대소문자 구분

- type() : 데이터 타입을 확인할 수 있는 함수
문자형 변수 선언 -> 따음표를 사용함

In [ ]:
,type(True) # 논리형 : boolean

## 파이썬 연산자
- 데이터 타입에 따라 연산 방법이 달라짐
덧셈 : + , 뺄셈 : - , 곱셈 : * , 나눗셈 : / , 몫 : // , 나머지 : %

## 문자데이터

In [2]:
d4 = 'python 데이터'
d5 = '분석'

In [3]:
d4 +d5 # 두 개의 문자열을 이어붙여 쓴다

'python 데이터분석'

In [4]:
d4 + ' ' + d5 # 띄어쓰기

'python 데이터 분석'

In [5]:
d4 > d5
# 알파벳 순서 상 뒤에 위치한 게 더 큼
# 알파벳이 한글보다 큼

False

## 논리형 연산 (비교구분)

In [6]:
d6 = 50
d7 = 90

In [7]:
d6 < d7

True

In [8]:
d6> d7

False

In [ ]:
### True / Flase 를 대문자로 입력해야 함

In [10]:
d6 >= d7

False

In [14]:
d6 == d7 # 같음

False

In [15]:
d6 != d7 # 같지 않음

True

###  print 함수
- 출력해주는 함수
- 저장은 아님

In [16]:
print('안녕')

안녕

In [17]:
d4
d5
#d4는 출력 x

'분석'

In [19]:
print(d4)
print(d5)

python 데이터
분석

## 파이썬 자료구조

- 하나의 폴더 안에 여러 파일이 있듯
- 하나의 자료구조 안에 여러 데이터가 들어감
- List[ ]
- Tuple ( )
- Set { }
- Dictionary {'key1' : 'value1', 'key2' : 'value2'}

### 리스트
- 대괄호로 구성 : [ ]
- 데이터 순서가 있음 -> 오름/내림차순으로 표현하지 않음
- 중복값 허용
- 데이터 수정 가능

In [24]:
d8 = [20, 30, 80, 50, 50]

In [23]:
type(d8)

list

In [25]:
# append
d8.append(150)

In [26]:
d8

[20, 30, 80, 50, 50, 150]

In [27]:
#remove
d8.remove(30)

In [28]:
d8

[20, 80, 50, 50, 150]

In [29]:
# insert  위치 지정 추가
d8.insert(0,'a') # 파이썬은 0부터

In [31]:
d8

['a', 20, 80, 50, 50, 150]

In [32]:
# 인덱싱
d8[0]

'a'

In [33]:
d8[-1] #맨 뒤의 인덱스

150

In [34]:
# 슬라이싱
d8[0:3] # n~m-1까지 호출

['a', 20, 80]

In [35]:
d8[3:] #끝까지 다 보여주

[50, 50, 150]

In [36]:
d8[ :-3]# 뒤에서 세번째 까지 보여주

['a', 20, 80]

In [37]:
# 데이터 변환
d8[0] = 'z'

In [38]:
d8

['z', 20, 80, 50, 50, 150]

## Tuple
- 소괄호로 구성 ()
- 중복값 허용
- 수정 불가

In [39]:
d9 = (2,5,7)

In [40]:
type(d9)

tuple

In [41]:
d9[0] # 튜플도 순서가 있기 때문에 인덱싱과 슬라이싱 가능

2

In [42]:
d9[0]='z' # 튜플은 수정이 안되므로 리스트로 변환

TypeError: 'tuple' object does not support item assignment

In [43]:
list(d9) #출력만해주는 함수

[2, 5, 7]

In [45]:
tuple1 = (1,2,3)
list1 = list(tuple1)
list1

[1, 2, 3]

In [46]:
# 수정
list1[0] = 'a'
list1

['a', 2, 3]

In [47]:
tuple2 = tuple(list1)
tuple2

('a', 2, 3)

### set { }
- 중괄호로 구성
- 중복값 없음
- 데이터 수정 가능
- 집합 연산 가능

In [48]:
set1 = {5, 1, 5, 4, 3, 2, 1}
set1

{1, 2, 3, 4, 5}

In [ ]:
len(set1)
#len() : 자료 구조 내 몇 개ㅢ 데이터가 있는지 확인하는 함수
#length

In [50]:
#집합 연산
set2 = {20,30,40, 50,60}
set3 = {50,60,70,80}

In [52]:
#교집합 : &
#합집합 : |
# 차집합 : -
# 대상 차집합 : 교집합을 제외한 데이터 : ^

In [53]:
set2&set3

{50, 60}

In [54]:
set2|set3

{20, 30, 40, 50, 60, 70, 80}

In [55]:
set2-set3

{20, 30, 40}

In [56]:
set3-set2

{70, 80}

In [57]:
set2^set3

{20, 30, 40, 70, 80}

## Dictionary

- key와 value로 구성
- {'key1':'value1', 'key2':'value2', ...}
- 순서는 key 기준으로 정렬
- 정형 데이터의 기본 구성요소

In [58]:
dict1 = {'이름':'스폰지밥','직업':'집게리아 직원'}

In [59]:
dict1

{'이름': '스폰지밥', '직업': '집게리아 직원'}

In [60]:
dict1['이름']

'스폰지밥'

In [62]:
# 데이터 추가
dict1['친구'] = '핑핑이'
dict1

{'이름': '스폰지밥', '직업': '집게리아 직원', '친구': '핑핑이'}

In [63]:
#key 확인
dict1.keys()

dict_keys(['이름', '직업', '친구'])

In [64]:
#값 확인
dict1.values()

dict_values(['스폰지밥', '집게리아 직원', '핑핑이'])

In [65]:
# 두 개의 리스트를 하나의 딕셔너리로 병합 가능
dict2 = ['이름','나이','지역','성별']
dict3 = ['홍길동','20','서울','남자']

In [66]:
type(dict2)

list

In [68]:
dict(zip(dict2,dict3))
# dict2 : key
# dict3 : values

{'이름': '홍길동', '나이': '20', '지역': '서울', '성별': '남자'}

## 문자열 처리

- 문자 데이터에 대한 다양한 처리
- 정형 데이터 뿐 아니라 자연어 처리에서도 사용되는 함수들이 존재

In [69]:
# 문자데이터 출력 시 따옴표 사용
'파이썬 데이터 분석'

'파이썬 데이터 분석'

In [72]:
# 여러 줄을 입력하는 경우
'''
안녕하세요
감사해요
잘 있어요
다시 만나요
'''

# \n은 엔터 의미

'\n안녕하세요\n감사해요\n잘 있어요\n다시 만나요\n'

In [73]:
'''


텍스트



'''

'\n\n\n텍스트\n\n\n\n'

In [74]:
# \n 없애고 싶음
print('''텍스트
슈퍼맨
스파이더맨
헐크
''')

텍스트
슈퍼맨
스파이더맨
헐크

In [75]:
# 줄바꿈 : \n을 이용하여 엔터 출력 가능
print('오늘부터 파이썬 전문가 \n 쉽지 않은 여정')

오늘부터 파이썬 전문가
 쉽지 않은 여정

In [76]:
# 따옴표 구분해야만 하는 시기 : 섞어서 쓰면 안됌
# 문장에서 따옴표를 사용할 경우 큰/작은 따옴표 구분해서 사용해야함
"'사실 정말 정말 졸리다...'라고 속으로 생각했다"

"'사실 정말 정말 졸리다...'라고 속으로 생각했다"

## 문자열 연산 응용
- 함수 사용

In [78]:
text1 ='오늘도 비가 올까요?'
len(text1) # 띄어쓰기 포함 몇 글자인지

11

In [80]:
# 문자열도 슬라이싱이나 인덱싱 ㄱㄴ
text2 = '온종일 비가 온날은 하얀 얼굴로 그대를 만나리'
text2[0] # 문자열 인덱싱
text2[0:10] # 문자열 슬라이싱

'온종일 비가 온날은'

In [87]:
#포멧팅
mbti = 'ENTJ'
blood_type ='rh+ O'

f'안녕하세요 저의 mbti는 {mbti}입니다. 혈액형은 {blood_type}입니다.'

'안녕하세요 저의 mbti는 ENTJ입니다. 혈액형은 rh+ O입니다.'

In [86]:
f'안녕하세요 저의 mbti는 '+mbti+'입니다. 혈액형은 '+blood_type+'입니다.'

'안녕하세요 저의 mbti는 ENTJ입니다. 혈액형은 rh+o입니다.'

In [91]:
# 딕셔너리를 활용한 포메팅

text4 = {'이름':'홍길동','나이':20, 'MBTI':'ENFP'}
f'안녕 내 이름은 {text4["이름"]}, 나이는 {text4["나이"]}살이다!' # 이때는 큰 따옴표 넣어야함 -> 구별을 위해

'안녕 내 이름은 홍길동, 나이는 20살이다!'

In [92]:
# 문자 개수 세기
text5 ='show me the money'
text5.count('e') # e 가 몇개인지 세어주쇼

3

In [94]:
text5.count('show')
text5.count('Show') # 파이썬은 대소문자 구분함

0

In [95]:
# 텍스트 전부를 대문자/소문자로 변환
text5.upper() # 다 대문자
text5.lower() # 다 소문자

'show me the money'

In [97]:
# 문자 위치 찾기
text5.find('m')
## 여러 개 인경우 첫번째 것만 반환함

5

In [99]:
# 문자열 나누기
text5.split(' ') # 띄어쓰기 기준 나누기
text5.split(' ')[2] # 띄어쓰기 기준 나누기에서 3번째

'the'

In [113]:
# input()
input()

KeyboardInterrupt: Interrupted by user

In [104]:
inp1 = input()

1

In [105]:
inp1

'1'

In [106]:
type(inp1) # input 함수는 defalt 값이 str이므로 숫자로 가져오고 싶으면 int 사용

str

In [107]:
inp2 = int(input('숫자를 쓰시오'))

숫자를 쓰시오5

In [108]:
type(inp2)

int

In [111]:
name1 = input('이름 입력하시오')
type1 = input('종을 입력하시오')

input_dict = {name1:type1}

이름 입력하시오고래고래
종을 입력하시오포유류

In [112]:
input_dict

{'고래고래': '포유류'}

# 파이썬 구문 (Statement)

- 특정 코드 반복 / 조건 만족 시 발동되도록 구성
- 조건문 / 반복문

##  조건문
- if / elif / else
- in / not in
- pass

### if

In [137]:
d1 = 50

if d1 >= 100: # 해당 조건을 만족하는 바로 아래 구문을 실행
    print('해당 데이터는 100보다 큽니다')
else : # 들여쓰기 : tab, space로 문장의 종속 관계 표현
    print('해당 데이터는 100보다 작습니다')

해당 데이터는 100보다 작습니다

In [ ]:
# elif : 여러 조건을 걸고 싶은 경우

In [138]:
d2 = 70

if d2 >= 90 :
    print('A')
elif d2 >= 80:
    print('B')
elif d2 >= 70:
    print('C')
else:
    print('F')

C

In [139]:
# in / not in
# 문자열이 들어갔는지 확인

d3 = 'python 데이터 분석'

if 'python' in d3:
    print('A')
elif '데이터' in d3:
    print('B')
elif '분석' in d3:
    print('C')
else :
    print('D')

# if 문사용하는 경우, 첫번째 조건을 만난 후,
# 이후의 코드 생략

A

In [140]:
if 'java' in d3:
    print('java')
elif 'python' in d3:
    print('python')
else :
    print('R')

python

In [ ]:
#리스트 내 특정 값이 있는지 확인(in)

d4 = [100,200,300,400]



else :
    print('F')

In [ ]:
# else 구문 사용x도 if문 가능

d5 = [1000,2000,3000]
if 1000 in d5:
    print('A')

In [ ]:
# pass : 아무것도 실행 x
d6 = ['A','B','C']
if 'A' in d6:
    pass #나중에 조건 들어올거니까 사전에 미리 나눠둠
elif 'D' in d6:
    print('F')

In [2]:
# 조건부 표현식
d7 =200

if d7 < 30:
    d8 = 'A'
else :
    d8 = 'B'
d8

'B'

In [3]:
# 변수 = (조건문이 참일 때 ) if (조건식) else(조건문이 거짓일 때 부여할 값)

d8 = 'A' if d7 >=30 else 'B'
d8

'A'

## 반복문
- while 
- for

In [ ]:
# while
d9 = 200
while d9 >= 50 :
    print('go')
    break # 중지

In [6]:
d10 = 0

while d10 < 10:
    d10 = d10 +1
    print(d10)

1
2
3
4
5
6
7
8
9
10

In [5]:
d10 = 0

while d10 < 10:
    d10 += 1 # d10 = d10 +1
    print(d10)

1
2
3
4
5
6
7
8
9
10

In [7]:
# 조건 초기화
# continue
# 해당 조건을 만나면 이후의 코드를 모두 생략한 후 처음으로 돌아가서 실행

d1 = 0
while d1 < 5:
    d1 += 1
    
    if d1 == 3:
        continue
        
    print(d1)

1
2
4
5

# for문
- for ~~~ in ~~~~
- range(k,n) : k 부터 n-1까지 출력

In [ ]:
for i in range(0,4):
    print(i)

In [8]:
list1 = ['a','b','c','d','e']
for i in list1:
    print(i)

a
b
c
d
e

In [10]:
# range와 인덱스 번호를 병용할 때

list2 = ['a','b','c', 1,2,3]
for i in range(len(list2)):
    print(i,list2[i])
    
    
# 인덱싱을 사용하기 위해 
# for i in range(len(변수)):
# i를 빼와서 인덱스 번호가 데이터를 순차적으로 호출

0 a
1 b
2 c
3 1
4 2
5 3

In [12]:
list3 = [1,2,3,3,2,1]

for i in range(len(list3) -1 ):
    print(list3[i],list3[i+1])

1 2
2 3
3 3
3 2
2 1

In [13]:
list3 = [1,2,3,3,2,1]

for i in range(len(list3) -1 ):
    print(list3[i]+list3[i+1])

3
5
6
5
3

In [ ]:
for i in [100,200,300]:
    print(i + i/10 + i/100)

In [ ]:
# 튜플 unpacking
d2= [(100,200),(300,400),(500,600)]

for i, j in d2 :
    print(i,j)
    print(i + j)

In [14]:
# list comprehension

d3 = []
for i in range(0,10):
    d3.append(i)
d3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
[x for x in range(0,10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# 1~11 까지 중 짝수인 값만 리스트로 생성
[x for x in range(1,11) if x % 2 == 0]

[2, 4, 6, 8, 10]